body {
    text-align: center;
    padding:2% 0;
    background-color: black;
    color: whitesmoke;
}
main {
    display: flex;
    height: 75vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
}
.choosenChar section {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2rem;
    /* display: flex; */
}
.choosenChar section div {
    height: 150px;
    width: 200px;
    border: 1px solid transparent;
}
.choosenChar section div p {
    position: relative;
    top: -155%;
    left: -12%;
} 
.active_player {
    border: 0.2em solid #5e4694 !important;
}
.choosenChar section div:hover {
    border: 0.2em solid #5e4694;
}
footer section {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
}
footer button {
    margin-top: 2%;
    padding: 1% 2%;
    font-size: 1.3em;
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 15px 15px 0.7em grey;
    transition: 0.3s ease-in;
}
.clickMe{
    margin-bottom: 1%;
    padding-top:1%;
    padding-left: 3%; 
    width: max-content;
    text-align: center;
    font-family: "retroFont";
    font-size: 1.75em;
    letter-spacing: 0.4em;
    border: 5px #605875 solid;
    border-radius: 10px;
    color: #605875;
    background-color: antiquewhite;
    transition: all ease-in 0.5s;
}

/* hover */
.clickMe:hover{
    /* box-shadow: 8px 8px 0.3em grey; */
    color: whitesmoke;
    background-color: #605875;
}
/* active */
.disabled {
    background-color:grey;
    color: lightgrey;
    /* box-shadow:8px 8px 0.3em; */
}
main section button:hover, aside a button:hover, button:hover  {
    color: whitesmoke;
    background-color: #605875;
}